version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: daily
    groups:
      all:
        patterns: ["*"]

  - package-ecosystem: npm
    directory: /ui
    schedule:
      interval: daily
    groups:
      all:
        patterns: ["*"]

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    groups:
      all:
        patterns: ["*"]
